/* ------------------------------------------------------------
Main Img
------------------------------------------------------------ */
/* line 6, ../sass/index.scss */
.mainImgWrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 276px;
  margin-bottom: 20px;
  padding-top: 56px;
  background: url(../images/index/main-img.jpg) no-repeat center center/cover;
}
/* line 15, ../sass/index.scss */
.mainImgWrap .mainImgTxt {
  font-size: 33px;
  color: #ffffff;
  line-height: 1.2;
  width: 100%;
  padding: 0 0 0 20px;
}
/* line 22, ../sass/index.scss */
.mainImgWrap .mainImgTxt .mainImgSubTxt {
  font-size: 12px;
  margin-top: 15px;
  line-height: 1.5;
}
/* line 29, ../sass/index.scss */
.mainImgWrap a {
  display: none;
}
@media print, screen and (min-width: 768px) {
  /* line 6, ../sass/index.scss */
  .mainImgWrap {
    height: 681px;
    margin-bottom: 40px;
    padding-top: 94px;
  }
  /* line 39, ../sass/index.scss */
  .mainImgWrap .mainImgTxt {
    font-size: 80px;
    padding: 0 0 0 60px;
  }
  /* line 43, ../sass/index.scss */
  .mainImgWrap .mainImgTxt .mainImgSubTxt {
    font-size: 18px;
  }
  /* line 48, ../sass/index.scss */
  .mainImgWrap a {
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
  }
  /* line 66, ../sass/index.scss */
  .mainImgWrap a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #fff;
  }
  /* line 76, ../sass/index.scss */
  .mainImgWrap a::after {
    animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  }
  @keyframes sdl {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }
}

/* ------------------------------------------------------------
Contents
------------------------------------------------------------ */
/* line 108, ../sass/index.scss */
.contTitle1 {
  font-size: 24px;
  color: #000266;
  text-align: center;
  margin-bottom: 30px;
}
@media print, screen and (min-width: 768px) {
  /* line 108, ../sass/index.scss */
  .contTitle1 {
    font-size: 50px;
    margin-bottom: 60px;
  }
}

/* line 121, ../sass/index.scss */
.contTitle2 {
  font-size: 18px;
  color: #000266;
  text-align: center;
  margin-bottom: 15px;
}
@media print, screen and (min-width: 768px) {
  /* line 121, ../sass/index.scss */
  .contTitle2 {
    font-size: 30px;
  }
}

/* line 133, ../sass/index.scss */
.contTitle3 {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}
@media print, screen and (min-width: 768px) {
  /* line 133, ../sass/index.scss */
  .contTitle3 {
    font-size: 30px;
  }
}

/* line 146, ../sass/index.scss */
.linkBtn1 {
  text-align: center;
}
/* line 149, ../sass/index.scss */
.linkBtn1 a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ffffff;
  width: 255px;
  padding: 15px 0;
  background: #297ACC;
}
/* line 159, ../sass/index.scss */
.linkBtn1 a img {
  width: 25px;
  height: 5px;
  margin-left: 15px;
}
/* line 165, ../sass/index.scss */
.linkBtn1 a:hover {
  opacity: .8;
}
/* line 168, ../sass/index.scss */
.linkBtn1 a:hover img {
  opacity: 1;
}
@media print, screen and (min-width: 1100px) {
  /* line 146, ../sass/index.scss */
  .linkBtn1 {
    text-align: left;
  }
  /* line 178, ../sass/index.scss */
  .linkBtn1 a {
    font-size: 18px;
    width: 300px;
    padding: 15px 0;
  }
}

/* line 186, ../sass/index.scss */
.linkBtn2 {
  text-align: center;
}
/* line 189, ../sass/index.scss */
.linkBtn2 a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #000000;
  width: 255px;
  padding: 15px 0;
  background: #ffffff;
  border: 1px solid #297ACC;
}
/* line 200, ../sass/index.scss */
.linkBtn2 a img {
  width: 25px;
  height: 5px;
  margin-left: 15px;
}
/* line 206, ../sass/index.scss */
.linkBtn2 a:hover {
  opacity: .8;
}
/* line 209, ../sass/index.scss */
.linkBtn2 a:hover img {
  opacity: 1;
}
@media print, screen and (min-width: 1100px) {
  /* line 186, ../sass/index.scss */
  .linkBtn2 {
    text-align: left;
  }
  /* line 219, ../sass/index.scss */
  .linkBtn2 a {
    font-size: 18px;
    width: 300px;
    padding: 15px 0;
  }
}

/* line 228, ../sass/index.scss */
.movetext {
  opacity: 0;
}

/* line 232, ../sass/index.scss */
.movetext span {
  opacity: 0;
}

/* line 238, ../sass/index.scss */
.visionWrap {
  position: relative;
  height: 462px;
  margin: 20px;
  background: url(../images/index/vision-bg.jpg) no-repeat center center/cover;
}
/* line 244, ../sass/index.scss */
.visionWrap .visionBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 462px;
  background: rgba(0, 1, 52, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 255, ../sass/index.scss */
.visionWrap .visionBox .visionTxt {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
/* line 260, ../sass/index.scss */
.visionWrap .visionBox .visionTxt .visionSubTxt {
  font-size: 13px;
}
@media print, screen and (min-width: 768px) {
  /* line 238, ../sass/index.scss */
  .visionWrap {
    height: 600px;
    margin: 40px;
  }
  /* line 271, ../sass/index.scss */
  .visionWrap .visionBox {
    height: 600px;
    padding: 15px 60px;
    justify-content: flex-start;
  }
  /* line 276, ../sass/index.scss */
  .visionWrap .visionBox .visionTxt {
    font-size: 50px;
    text-align: left;
  }
  /* line 280, ../sass/index.scss */
  .visionWrap .visionBox .visionTxt .visionSubTxt {
    font-size: 26px;
  }
}
@media print, screen and (min-width: 1280px) {
  /* line 238, ../sass/index.scss */
  .visionWrap {
    width: 1200px;
    margin: 40px auto;
  }
}

/* line 295, ../sass/index.scss */
.valuesBox {
  width: 100%;
  padding: 37px auto 58px;
  padding: 20px;
}
/* line 301, ../sass/index.scss */
.valuesBox dl dt {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
/* line 307, ../sass/index.scss */
.valuesBox dl dd {
  font-size: 13px;
  text-align: center;
  padding-bottom: 30px;
}
/* line 313, ../sass/index.scss */
.valuesBox dl .last {
  padding-bottom: 0;
}
@media print, screen and (min-width: 768px) {
  /* line 295, ../sass/index.scss */
  .valuesBox {
    margin: 85px auto 107px;
  }
  /* line 323, ../sass/index.scss */
  .valuesBox dl dt {
    font-size: 50px;
  }
  /* line 327, ../sass/index.scss */
  .valuesBox dl dd {
    font-size: 22px;
  }
}
@media print, screen and (min-width: 1230px) {
  /* line 295, ../sass/index.scss */
  .valuesBox {
    width: 1200px;
  }
}

/* line 340, ../sass/index.scss */
.memberWrap {
  padding: 40px 0;
  background: #F7F7F7;
}
/* line 344, ../sass/index.scss */
.memberWrap .memberTxt {
  font-size: 12px;
  margin: 0 20px 50px;
}
@media print, screen and (min-width: 768px) {
  /* line 340, ../sass/index.scss */
  .memberWrap {
    padding: 80px 0;
    background: #F7F7F7;
  }
  /* line 354, ../sass/index.scss */
  .memberWrap .memberTxt {
    font-size: 18px;
    text-align: center;
  }
}
/* line 361, ../sass/index.scss */
.memberWrap .slickBox {
  position: relative;
}
/* line 364, ../sass/index.scss */
.memberWrap .slickBox .slickMember {
  padding: 0 35px;
}
/* line 368, ../sass/index.scss */
.memberWrap .slickBox .slickMember .memberBox a {
  display: block;
  margin: 15px;
  box-shadow: 0px 0px 8px 3px #ccc;
}
/* line 374, ../sass/index.scss */
.memberWrap .slickBox .slickMember .memberBox a:hover img {
  opacity: 1;
}
/* line 380, ../sass/index.scss */
.memberWrap .slickBox .slickMember .memberBox .box {
  min-height: 540px;
  background: #ffffff;
}
/* line 384, ../sass/index.scss */
.memberWrap .slickBox .slickMember .memberBox .box .txtBox {
  padding: 25px 20px;
}
/* line 387, ../sass/index.scss */
.memberWrap .slickBox .slickMember .memberBox .box .txtBox .name {
  font-size: 18px;
}
/* line 390, ../sass/index.scss */
.memberWrap .slickBox .slickMember .memberBox .box .txtBox .name span {
  font-size: 12px;
  margin-left: 15px;
}
/* line 396, ../sass/index.scss */
.memberWrap .slickBox .slickMember .memberBox .box .txtBox .line {
  width: 35px;
  margin: 15px 0;
  border-bottom: 1px solid #CCCCCC;
}
/* line 402, ../sass/index.scss */
.memberWrap .slickBox .slickMember .memberBox .box .txtBox .txt {
  font-size: 12px;
  line-height: 1.6;
}
/* line 411, ../sass/index.scss */
.memberWrap .slickBox .memberPrev,
.memberWrap .slickBox .memberNext {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 40px;
  margin: auto;
}
/* line 419, ../sass/index.scss */
.memberWrap .slickBox .memberPrev img,
.memberWrap .slickBox .memberNext img {
  width: 40px;
}
/* line 424, ../sass/index.scss */
.memberWrap .slickBox .memberPrev {
  left: 0;
}
/* line 427, ../sass/index.scss */
.memberWrap .slickBox .memberPrev img {
  padding: 0 0 0 15px;
}
/* line 432, ../sass/index.scss */
.memberWrap .slickBox .memberNext {
  right: 0;
}
/* line 435, ../sass/index.scss */
.memberWrap .slickBox .memberNext img {
  padding: 0 15px 0 0;
}
@media print, screen and (min-width: 768px) {
  /* line 361, ../sass/index.scss */
  .memberWrap .slickBox {
    margin: 0 auto;
  }
  /* line 444, ../sass/index.scss */
  .memberWrap .slickBox .slickMember {
    padding: 0 60px;
  }
  /* line 447, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox {
    padding: 0 5px;
  }
  /* line 450, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox a {
    transition: 0.3s ease-in-out;
    box-shadow: none;
  }
  /* line 454, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox a:hover {
    box-shadow: 0px 0px 8px 3px #ccc;
  }
  /* line 459, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox .box {
    min-height: 620px;
  }
  /* line 463, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox .box .txtBox .name {
    font-size: 22px;
  }
  /* line 466, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox .box .txtBox .name span {
    font-size: 16px;
  }
  /* line 471, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox .box .txtBox .line {
    width: 40px;
  }
  /* line 475, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox .box .txtBox .txt {
    font-size: 14px;
  }
  /* line 485, ../sass/index.scss */
  .memberWrap .slickBox .memberPrev img,
  .memberWrap .slickBox .memberNext img {
    width: 60px;
  }
}
@media print, screen and (min-width: 1070px) {
  /* line 361, ../sass/index.scss */
  .memberWrap .slickBox {
    width: 1040px;
  }
  /* line 495, ../sass/index.scss */
  .memberWrap .slickBox .slickMember {
    padding: 0 70px;
  }
  /* line 498, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox {
    padding: 0 40px;
  }
  /* line 501, ../sass/index.scss */
  .memberWrap .slickBox .slickMember .memberBox .box {
    min-height: 600px;
  }
}

/* line 511, ../sass/index.scss */
.serviceWrap {
  padding: 45px 0 0;
}
/* line 514, ../sass/index.scss */
.serviceWrap .serviceTxt {
  font-size: 12px;
  margin: 0 20px 31px;
}
@media print, screen and (min-width: 768px) {
  /* line 511, ../sass/index.scss */
  .serviceWrap {
    padding: 50px 0;
  }
  /* line 523, ../sass/index.scss */
  .serviceWrap .serviceTxt {
    font-size: 18px;
    text-align: center;
    margin: 0 20px 54px;
  }
}
/* line 530, ../sass/index.scss */
.serviceWrap .serviceBox {
  width: 100%;
  padding: 0 20px 0 40px;
}
/* line 534, ../sass/index.scss */
.serviceWrap .serviceBox .serviceList {
  padding-bottom: 30px;
  border-bottom: 1px solid #B3B3B3;
}
/* line 538, ../sass/index.scss */
.serviceWrap .serviceBox .serviceList .box {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}
/* line 543, ../sass/index.scss */
.serviceWrap .serviceBox .serviceList .box:last-child {
  margin-bottom: 0;
}
/* line 547, ../sass/index.scss */
.serviceWrap .serviceBox .serviceList .box .img {
  width: 45%;
  padding-right: 15px;
  text-align: center;
}
/* line 553, ../sass/index.scss */
.serviceWrap .serviceBox .serviceList .box ul {
  width: calc(55% - 2em);
  margin-left: 2em;
}
/* line 557, ../sass/index.scss */
.serviceWrap .serviceBox .serviceList .box ul li {
  font-size: 11px;
  list-style-type: disc;
}
@media print, screen and (min-width: 768px) {
  /* line 567, ../sass/index.scss */
  .serviceWrap .serviceBox .serviceList {
    display: flex;
    padding-bottom: 60px;
  }
  /* line 571, ../sass/index.scss */
  .serviceWrap .serviceBox .serviceList .box {
    display: block;
    width: 33.33%;
    margin-bottom: 0;
  }
  /* line 576, ../sass/index.scss */
  .serviceWrap .serviceBox .serviceList .box .img {
    width: 100%;
    margin-bottom: 44px;
    padding: 0;
  }
  /* line 582, ../sass/index.scss */
  .serviceWrap .serviceBox .serviceList .box ul {
    width: calc(100% - 2em);
  }
  /* line 585, ../sass/index.scss */
  .serviceWrap .serviceBox .serviceList .box ul li {
    font-size: 16px;
  }
  /* line 591, ../sass/index.scss */
  .serviceWrap .serviceBox .serviceList .box:nth-child(1) {
    margin-right: 60px;
  }
  /* line 595, ../sass/index.scss */
  .serviceWrap .serviceBox .serviceList .box:nth-child(2) {
    margin: 0 60px;
  }
  /* line 599, ../sass/index.scss */
  .serviceWrap .serviceBox .serviceList .box:nth-child(3) {
    margin-left: 60px;
  }
}
@media print, screen and (min-width: 1070px) {
  /* line 530, ../sass/index.scss */
  .serviceWrap .serviceBox {
    width: 1040px;
    margin: 0 auto;
    padding: 0;
  }
}

/* line 615, ../sass/index.scss */
.productsWrap {
  padding: 45px 0;
}
/* line 618, ../sass/index.scss */
.productsWrap .productsTxt {
  font-size: 12px;
  margin: 0 20px 31px;
}
@media print, screen and (min-width: 768px) {
  /* line 615, ../sass/index.scss */
  .productsWrap {
    padding: 50px 0;
  }
  /* line 627, ../sass/index.scss */
  .productsWrap .productsTxt {
    font-size: 18px;
    text-align: center;
    margin: 0 20px 54px;
  }
}
/* line 634, ../sass/index.scss */
.productsWrap .productsBox {
  margin-bottom: 30px;
}
/* line 637, ../sass/index.scss */
.productsWrap .productsBox .box {
  width: 100%;
  padding: 0 40px 31px;
}
/* line 641, ../sass/index.scss */
.productsWrap .productsBox .box .title {
  font-size: 11px;
  color: #808080;
  margin-top: 15px;
}
/* line 646, ../sass/index.scss */
.productsWrap .productsBox .box .title span {
  display: block;
  font-size: 16px;
  color: #000000;
}
/* line 653, ../sass/index.scss */
.productsWrap .productsBox .box:last-child {
  padding-bottom: 0;
}
/* line 658, ../sass/index.scss */
.productsWrap .productsBox .line {
  width: 30px;
  margin: 10px 0 15px;
  border-bottom: 1px solid #CCCCCC;
}
@media print, screen and (min-width: 768px) {
  /* line 667, ../sass/index.scss */
  .productsWrap .productsBox {
    display: flex;
  }
  /* line 670, ../sass/index.scss */
  .productsWrap .productsBox .box {
    width: calc(50% - 30px);
    margin: 0 15px;
    padding: 0;
  }
  /* line 675, ../sass/index.scss */
  .productsWrap .productsBox .box .title {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 25px;
  }
  /* line 680, ../sass/index.scss */
  .productsWrap .productsBox .box .title span {
    font-size: 22px;
    margin-top: 5px;
  }
  /* line 687, ../sass/index.scss */
  .productsWrap .productsBox .line {
    width: 40px;
    margin: 20px 0 25px;
  }
}
@media print, screen and (min-width: 1100px) {
  /* line 615, ../sass/index.scss */
  .productsWrap {
    width: 1040px;
    margin: 0 auto;
  }
  /* line 699, ../sass/index.scss */
  .productsWrap .productsBox {
    margin: 0 -15px 30px;
  }
}

/* line 706, ../sass/index.scss */
.companyWrap {
  padding: 40px 0;
}
@media print, screen and (min-width: 768px) {
  /* line 706, ../sass/index.scss */
  .companyWrap {
    padding: 50px 0;
  }
}
/* line 714, ../sass/index.scss */
.companyWrap .companyBox {
  padding: 0 20px;
}
/* line 720, ../sass/index.scss */
.companyWrap .companyBox .boxIframe iframe {
  top: 0;
  left: 0;
  width: 100%;
}
/* line 729, ../sass/index.scss */
.companyWrap .companyBox .box table {
  margin-bottom: 30px;
}
/* line 732, ../sass/index.scss */
.companyWrap .companyBox .box table th,
.companyWrap .companyBox .box table td {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  padding: 4px 0;
}
/* line 740, ../sass/index.scss */
.companyWrap .companyBox .box table th {
  width: 75px;
}
/* line 745, ../sass/index.scss */
.companyWrap .companyBox .box .title {
  font-size: 16px;
}
/* line 749, ../sass/index.scss */
.companyWrap .companyBox .box .line {
  width: 60px;
  margin: 13px 0;
  border-bottom: 1px solid #CCCCCC;
}
/* line 755, ../sass/index.scss */
.companyWrap .companyBox .box ul {
  width: calc(100% - 2em);
  margin: 0 0 30px 2em;
}
/* line 759, ../sass/index.scss */
.companyWrap .companyBox .box ul li {
  font-size: 12px;
  list-style: disc;
}
/* line 765, ../sass/index.scss */
.companyWrap .companyBox .box .imgBox {
  font-size: 18px;
  margin-bottom: 33px;
}
/* line 769, ../sass/index.scss */
.companyWrap .companyBox .box .imgBox .imgName {
  margin-bottom: 10px;
}
@media print, screen and (max-width: 768px) {
  /* line 776, ../sass/index.scss */
  .companyWrap .companyBox iframe {
    height: 160px;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 714, ../sass/index.scss */
  .companyWrap .companyBox {
    display: flex;
  }
  /* line 786, ../sass/index.scss */
  .companyWrap .companyBox .box table {
    margin-bottom: 53px;
  }
  /* line 789, ../sass/index.scss */
  .companyWrap .companyBox .box table th,
  .companyWrap .companyBox .box table td {
    font-size: 16px;
  }
  /* line 794, ../sass/index.scss */
  .companyWrap .companyBox .box table th {
    width: 100px;
  }
  /* line 799, ../sass/index.scss */
  .companyWrap .companyBox .box .title {
    font-size: 22px;
  }
  /* line 803, ../sass/index.scss */
  .companyWrap .companyBox .box .line {
    width: 60px;
    margin: 20px 0 24px;
  }
  /* line 809, ../sass/index.scss */
  .companyWrap .companyBox .box ul li {
    font-size: 16px;
  }
  /* line 814, ../sass/index.scss */
  .companyWrap .companyBox .box:first-child {
    order: 2;
    flex: 1;
  }
  /* line 819, ../sass/index.scss */
  .companyWrap .companyBox .box:last-child {
    order: 1;
    width: 45%;
    margin-right: 30px;
  }
  /* line 824, ../sass/index.scss */
  .companyWrap .companyBox .box:last-child .imgBox {
    font-size: 18px;
    margin-bottom: 38px;
  }
  /* line 828, ../sass/index.scss */
  .companyWrap .companyBox .box:last-child .imgBox .imgName {
    margin-bottom: 8px;
  }
  /* line 832, ../sass/index.scss */
  .companyWrap .companyBox .box:last-child .imgBox:last-child {
    margin-bottom: 0;
  }
}
@media print, screen and (min-width: 1100px) {
  /* line 714, ../sass/index.scss */
  .companyWrap .companyBox {
    width: 1040px;
    margin: 0 auto 60px;
    padding: 0;
  }
}

/* line 851, ../sass/index.scss */
.groupWrap {
  padding: 40px 20px 0;
}
/* line 854, ../sass/index.scss */
.groupWrap .title {
  font-size: 14px;
  margin-bottom: 10px;
}
@media print, screen and (min-width: 768px) {
  /* line 861, ../sass/index.scss */
  .groupWrap .title {
    font-size: 22px;
  }
}
/* line 866, ../sass/index.scss */
.groupWrap .groupBox {
  padding: 30px;
  border: 1px solid #CCCCCC;
}
/* line 870, ../sass/index.scss */
.groupWrap .groupBox .box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
/* line 875, ../sass/index.scss */
.groupWrap .groupBox .box .groupLogo {
  width: 35%;
}
/* line 879, ../sass/index.scss */
.groupWrap .groupBox .box table {
  width: 65%;
  margin-left: 20px;
}
/* line 883, ../sass/index.scss */
.groupWrap .groupBox .box table th,
.groupWrap .groupBox .box table td {
  font-size: 11px;
  font-weight: normal;
  text-align: left;
}
/* line 890, ../sass/index.scss */
.groupWrap .groupBox .box table th {
  width: 50px;
}
/* line 895, ../sass/index.scss */
.groupWrap .groupBox .box:last-child {
  margin-bottom: 0;
}
@media print, screen and (min-width: 768px) {
  /* line 903, ../sass/index.scss */
  .groupWrap .groupBox {
    display: flex;
    padding: 50px 20px;
  }
  /* line 907, ../sass/index.scss */
  .groupWrap .groupBox .box {
    width: calc(50% - 30px);
    margin: 0 15px;
  }
  /* line 911, ../sass/index.scss */
  .groupWrap .groupBox .box .groupLogo {
    width: 30%;
  }
  /* line 915, ../sass/index.scss */
  .groupWrap .groupBox .box table {
    width: 70%;
  }
  /* line 918, ../sass/index.scss */
  .groupWrap .groupBox .box table th,
  .groupWrap .groupBox .box table td {
    font-size: 15px;
  }
  /* line 923, ../sass/index.scss */
  .groupWrap .groupBox .box table th {
    width: 60px;
  }
}
@media print, screen and (min-width: 1100px) {
  /* line 851, ../sass/index.scss */
  .groupWrap {
    width: 1040px;
    margin: 0 auto;
    padding: 0;
  }
  /* line 937, ../sass/index.scss */
  .groupWrap .groupBox {
    padding: 50px 70px;
  }
}

/* line 944, ../sass/index.scss */
.recruitWrap {
  margin: 0 20px;
  padding: 35px 20px 40px;
  background: url(../images/index/recruit-bg.jpg) no-repeat center center/cover;
}
@media print, screen and (min-width: 768px) {
  /* line 944, ../sass/index.scss */
  .recruitWrap {
    margin: 0 40px;
    padding: 75px 60px 80px;
  }
}
/* line 955, ../sass/index.scss */
.recruitWrap .recruitBox {
  color: #ffffff;
}
/* line 959, ../sass/index.scss */
.recruitWrap .recruitBox .box p {
  font-size: 16px;
  font-weight: bold;
}
/* line 964, ../sass/index.scss */
.recruitWrap .recruitBox .box table {
  margin: 50px 0 30px;
}
/* line 967, ../sass/index.scss */
.recruitWrap .recruitBox .box table th,
.recruitWrap .recruitBox .box table td {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  padding: 2px 0;
}
/* line 975, ../sass/index.scss */
.recruitWrap .recruitBox .box table th {
  width: 72px;
}
@media print, screen and (min-width: 768px) {
  /* line 955, ../sass/index.scss */
  .recruitWrap .recruitBox {
    display: flex;
    align-items: center;
    margin: 0 -20px;
  }
  /* line 987, ../sass/index.scss */
  .recruitWrap .recruitBox .box {
    width: calc(50% - 40px);
    margin: 0 20px;
  }
  /* line 991, ../sass/index.scss */
  .recruitWrap .recruitBox .box p {
    font-size: 25px;
  }
  /* line 997, ../sass/index.scss */
  .recruitWrap .recruitBox .box table th,
  .recruitWrap .recruitBox .box table td {
    font-size: 18px;
  }
  /* line 1002, ../sass/index.scss */
  .recruitWrap .recruitBox .box table th {
    width: 105px;
  }
}
@media print, screen and (min-width: 1280px) {
  /* line 944, ../sass/index.scss */
  .recruitWrap {
    width: 1200px;
    margin: 40px auto 0;
  }
}

/* line 1018, ../sass/index.scss */
.newsWrap {
  position: relative;
  padding: 35px 35px 40px;
}
@media print, screen and (min-width: 768px) {
  /* line 1018, ../sass/index.scss */
  .newsWrap {
    padding: 75px 0 80px;
  }
}
/* line 1027, ../sass/index.scss */
.newsWrap .slickNews {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
/* line 1032, ../sass/index.scss */
.newsWrap .slickNews .slickBox {
  width: calc(100 / 3);
  margin: 0 0 10px;
}
/* line 1036, ../sass/index.scss */
.newsWrap .slickNews .slickBox a {
  display: block;
  margin: 15px;
  box-shadow: 0px 0px 8px 3px #ccc;
}
/* line 1042, ../sass/index.scss */
.newsWrap .slickNews .slickBox a:hover img {
  opacity: 1;
}
/* line 1048, ../sass/index.scss */
.newsWrap .slickNews .slickBox .box {
  background: #ffffff;
}
/* line 1051, ../sass/index.scss */
.newsWrap .slickNews .slickBox .box .txtBox {
  padding: 15px;
}
/* line 1054, ../sass/index.scss */
.newsWrap .slickNews .slickBox .box .txtBox .txt {
  font-size: 12px;
  margin-bottom: 40px;
}
/* line 1059, ../sass/index.scss */
.newsWrap .slickNews .slickBox .box .txtBox .flexBox {
  display: flex;
  align-items: center;
}
/* line 1063, ../sass/index.scss */
.newsWrap .slickNews .slickBox .box .txtBox .flexBox .date,
.newsWrap .slickNews .slickBox .box .txtBox .flexBox .arrow {
  width: 50%;
}
/* line 1068, ../sass/index.scss */
.newsWrap .slickNews .slickBox .box .txtBox .flexBox .date {
  font-size: 12px;
}
/* line 1072, ../sass/index.scss */
.newsWrap .slickNews .slickBox .box .txtBox .flexBox .arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* line 1077, ../sass/index.scss */
.newsWrap .slickNews .slickBox .box .txtBox .flexBox .arrow img {
  width: 25px;
  height: 5px;
}
/* line 1088, ../sass/index.scss */
.newsWrap .slickPrev,
.newsWrap .slickNext {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 40px;
  margin: auto;
}
/* line 1096, ../sass/index.scss */
.newsWrap .slickPrev img,
.newsWrap .slickNext img {
  width: 40px;
}
/* line 1101, ../sass/index.scss */
.newsWrap .slickPrev {
  left: 0;
}
/* line 1104, ../sass/index.scss */
.newsWrap .slickPrev img {
  padding: 0 0 0 15px;
}
/* line 1109, ../sass/index.scss */
.newsWrap .slickNext {
  right: 0;
}
/* line 1112, ../sass/index.scss */
.newsWrap .slickNext img {
  padding: 0 15px 0 0;
}
@media print, screen and (min-width: 768px) {
  /* line 1120, ../sass/index.scss */
  .newsWrap .slickNews .slickBox {
    width: calc((100% / 3) - 10px);
    margin: 0 5px;
  }
  /* line 1124, ../sass/index.scss */
  .newsWrap .slickNews .slickBox a {
    margin: 15px;
    box-shadow: none;
    transition: 0.3s ease-in-out;
  }
  /* line 1129, ../sass/index.scss */
  .newsWrap .slickNews .slickBox a:hover {
    box-shadow: 0px 0px 8px 3px #ccc;
  }
  /* line 1135, ../sass/index.scss */
  .newsWrap .slickNews .slickBox .box .txtBox {
    padding: 25px 20px 10px;
  }
  /* line 1138, ../sass/index.scss */
  .newsWrap .slickNews .slickBox .box .txtBox .txt {
    font-size: 15px;
    margin-bottom: 48px;
  }
  /* line 1144, ../sass/index.scss */
  .newsWrap .slickNews .slickBox .box .txtBox .flexBox .date {
    font-size: 15px;
  }
}
@media print, screen and (min-width: 1100px) {
  /* line 1018, ../sass/index.scss */
  .newsWrap {
    width: 1040px;
    margin: 0 auto;
    padding: 75px 0;
  }
}
